<template>
  <div class="relative-left-center max-width-500 q-py-xl q-pa-md">
    <div class=" row justify-center ">
      <q-datetime v-model="startDate" :first-day-of-week="1" :max="endDate" format="DD/MM/YYYY" type="date"
                  color="primary" float-label="Desde" class="col-5 q-ma-md" @input="dateFilter"
      />

      <q-datetime v-model="endDate" :first-day-of-week="1" :min="startDate" :max="new Date()" format="DD/MM/YYYY"
                  type="date" color="primary" float-label="Hasta" class="col-5 q-ma-md" @input="dateFilter"
      />
    </div>

    <div class="q-display-1 text-center text-bold text-dark">
      {{ $t('poop.byDays') }}
    </div>
    <!-- <div id="poopsTypes-legend" ref="poopsTypes-legend" class="relative-left-center q-my-md legend-con"></div> -->
    <bar-chart :data="poopsDateData" :options="poopsDateOptions" :width="400" :height="200" class="relative-left-center max-width-500 max-height-250" />
    <!-- <bubble :data="poopsDateData" :options="poopsDateOptions" class="relative-left-center max-width-00"></bubble> -->

    <div class="q-display-1 text-center text-bold text-dark q-mt-xl">
      {{ $t('poop.byType') }}
    </div>
    <div id="poopsTypes-legend" ref="poopsTypes-legend" class="relative-left-center q-my-md legend-con" />
    <doughnut-chart :data="poopsTypesData" :options="poopsTypesOptions" class="relative-left-center max-width-250" />

    <div class="q-display-1 text-center text-bold text-dark q-mt-xl">
      {{ $t('poop.byColor') }}
    </div>
    <div id="poopsColors-legend"
         ref="poopsColors-legend" class="relative-left-center q-my-md legend-con"
    />
    <doughnut-chart :data="poopsColorsData" :options="poopsColorsOptions" class="relative-left-center max-width-250" />
  </div>
</template>

<script>
import DoughnutChart from 'components/chartjs/doughnut.js'
import BarChart from 'components/chartjs/bar.js'
import { momentMixins } from '@mixins/index.js'
import { QDatetime } from 'quasar'
// import { Doughnut } from 'vue-chartjs'

export default {
  name: 'Chats',
  components: {
    DoughnutChart, BarChart, QDatetime
  },
  mixins: [ momentMixins ],
  data () {
    return {
      startDate: '',
      endDate: '',
      poopsData: [],
      poopsDateData: null,
      poopsDateOptions: null,
      poopsDateLegend: null,
      poopsTypesData: null,
      poopsTypesOptions: null,
      poopsTypesLegend: null,
      poopsColorsData: null,
      poopsColorsOptions: null,
      poopsColorsLegend: null
      // types: [],
      // colors: []
    }
  },
  created () {
    this.startDate = this.formatDateTime(this.A_WEEK_OLD, 'YYYY-MM-DD')
    this.endDate = this.formatDateTime(this.TODAY, 'YYYY-MM-DD')
    this.poopsData = this.$store.getters[`poop/poops`]
    this.dateFilter()
    this.$on('legendGenerated', ({ legend, idContainer }) => this.legendGenerated(legend, idContainer))
  },
  destroyed () {
    // this.$off('legendGenerated')
  },
  methods: {
    legendGenerated (legend, idContainer) {
      if (this.$refs[idContainer]) { this.$refs[idContainer].innerHTML = legend }
    },
    dateFilter () {
      let self = this
      this.poopsData = this.$store.getters[`poop/poops`].filter(
        function (poop) {
          return self.dateBetween(self.formatDateTime(poop.date, 'YYYY-MM-DD'), self.startDate, self.endDate)
        }
      )
      this.poopsData.sort(
        (a, b) => Date.parse(a.date) - Date.parse(b.date)
      )
      this.getPoopsTypesData()
      this.getPoopsColorsData()
      this.getPoopsDateData()
    },
    getPoopsDateData () {
      this.poopsDateData = {
        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [],
        datasets: [{
          label: '# of Poops',
          showLine: true, // show line in scatter plot
          // borderColor: '#205b22',
          borderWidth: 0,
          data: [],
          backgroundColor: '#4CAF50'
        } ]
      }
      let maxSize = 2
      let poopsDataGrouped = {}
      /* let backgroundColor = [
        '#764EBE',
        '#3F51B4',
        '#009587',
        '#4CAF50',
        '#CDDC39',
        '#FFC107',
        '#FE6F00'
      ] */

      this.$set(poopsDataGrouped, this.formatDateTime(this.startDate, 'YYYY-MM-DD'), 0)
      this.poopsDateData.labels.push(this.formatDateTime(this.startDate, 'YYYY-MM-DD'))

      if (this.poopsData) {
        for (let index = 0; index < this.poopsData.length; index++) {
          let poopDate = this.formatDateTime(this.poopsData[index].date, 'YYYY-MM-DD')
          if (poopsDataGrouped[poopDate] === undefined) {
            this.$set(poopsDataGrouped, poopDate, 1)
            this.poopsDateData.labels.push(poopDate)
          } else { poopsDataGrouped[poopDate]++ }
          /* let indexLabel = this.poopsDateData.labels.findIndex(function (element) { return element === poopDate })
          let data = this.poopsDateData.datasets[0].data[indexLabel]
          if (!data) {
            this.poopsDateData.datasets[0].data.push(1)
          } else { this.poopsDateData.datasets[0].data[indexLabel]++ } */

          maxSize = (poopsDataGrouped[poopDate] >= maxSize) ? poopsDataGrouped[poopDate] + 1 : maxSize
        }
      }

      if (!poopsDataGrouped[this.formatDateTime(this.endDate, 'YYYY-MM-DD')]) {
        this.$set(poopsDataGrouped, this.formatDateTime(this.endDate, 'YYYY-MM-DD'), 0)
        this.poopsDateData.labels.push(this.formatDateTime(this.endDate, 'YYYY-MM-DD'))
      }

      this.poopsDateData.datasets[0].data = Object.values(poopsDataGrouped)

      this.poopsDateOptions = {
        responsive: true,
        legend: false,
        maintainAspectRatio: true,
        /* pan: {
          // Boolean to enable panning
          enabled: true,

          // Panning directions. Remove the appropriate direction to disable
          // Eg. 'y' would only allow panning in the y direction
          mode: 'x',
          rangeMin: {
            // Format of min pan range depends on scale type
            x: null,
            y: 0
          },
          rangeMax: {
            // Format of max pan range depends on scale type
            x: null,
            y: 20
          }
        },
        // Container for zoom options
        zoom: {
          // Boolean to enable zooming
          enabled: true,

          // Zooming directions. Remove the appropriate direction to disable
          // Eg. 'y' would only allow zooming in the y direction
          mode: 'xy',
          rangeMin: {
            // Format of min pan range depends on scale type
            x: null,
            y: 0
          },
          rangeMax: {
            // Format of max pan range depends on scale type
            x: null,
            y: 20
          }
        }, */
        scales: {
          xAxes: [{
            type: 'time',
            // distribution: 'linear',
            // bounds: 'ticks',
            // stacked: true,
            autoSkip: true,
            time: {
              // min: this.startDate,
              // max: this.endDate,
              // unitStepSize: 1,
              // round: 'day',
              unit: 'day',
              tooltipFormat: 'DD-MM-YYYY', // <- HERE
              displayFormats: {
                'millisecond': 'MMM DD',
                'second': 'MMM DD',
                'minute': 'MMM DD',
                'hour': 'MMM DD',
                'day': 'MMM DD',
                'week': 'MMM DD',
                'month': 'MMM DD',
                'quarter': 'MMM DD',
                'year': 'MMM DD'
              }
            },
            ticks: {
              // min: this.startDate,
              // max: this.endDate,
              // source: 'labels'
              // stepSize: 1 // <----- This prop sets the stepSize
            }
          }],
          yAxes: [{
            // type: 'time',
            // reverse: true, // will reverse the scale
            // autoSkip: true,
            stacked: true,
            scaleLabel: {
              display: true,
              labelString: '# of poops'
            },
            ticks: {
              min: 0,
              max: maxSize,
              // forces step size to be 5 units
              stepSize: 1 // <----- This prop sets the stepSize
              // reverse: true
            }

          }]
        }
        /*
        scales: {
          xAxes: [{
            type: 'time',
            autoSkip: false,
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
            time: {
              tooltipFormat: 'MMM DD', // <- HERE
              displayFormats: {
                'millisecond': 'MMM DD',
                'second': 'MMM DD',
                'minute': 'MMM DD',
                'hour': 'MMM DD',
                'day': 'MMM DD',
                'week': 'MMM DD',
                'month': 'MMM DD',
                'quarter': 'MMM DD',
                'year': 'MMM DD'
              }
            }
          }],
          yAxes: [{
            // type: 'time',
            // reverse: true, // will reverse the scale
            ticks: {
              beginAtZero: true,
              stepValue: 1,
              min: 0,
              max: 23
              // forces step size to be 5 units
              // stepSize: 3 // <----- This prop sets the stepSize
              // reverse: true
            },
            scaleLabel: {
              display: true,
              labelString: 'Hour'
            },
            time: {
              unitStepSize: 1,
              tooltipFormat: 'HH:mm', // <- HERE
              parser: 'HH:mm',
              unit: 'hour',
              displayFormats: {
                'hour': 'HH',
                'minute': 'HH',
                min: 0,
                max: 23
              }
            }
          }]
        }
        /*

            type: 'time',
            // reverse: true, // will reverse the scale
            ticks: {
              beginAtZero: false
            },
            scaleLabel: {
              display: true,
              labelString: 'Hour'
            },
            time: {
              format: 'HH',
              unit: 'hour',
              unitStepSize: 1,
              displayFormats: {
                'minute': 'HH',
                'hour': 'HH',
                min: '23',
                min: '0'
              }
        */
      }
    },
    getPoopsTypesData () {
      let poopsTypes = []
      for (let index = 0; index < 7; index++) {
        let length = this.poopsData.filter(
          function (poop) {
            return poop.type === index
          }
        ).length
        let poop = {
          count: length,
          label: this.$t(`poop.types.${index}.Indicates`)
        }
        poopsTypes.push(poop)
      }
      this.poopsTypesData = {
        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [poopsTypes[0].label, poopsTypes[1].label, poopsTypes[2].label, poopsTypes[3].label, poopsTypes[4].label, poopsTypes[5].label, poopsTypes[6].label
        ],
        datasets: [{
          // label: '# of Votes',
          // showLine: true, // show line in scatter plot
          borderColor: '#333',
          borderWidth: 0,
          data: [poopsTypes[0].count, poopsTypes[1].count, poopsTypes[2].count, poopsTypes[3].count, poopsTypes[4].count, poopsTypes[5].count, poopsTypes[6].count],
          backgroundColor: [
            '#764EBE',
            '#3F51B4',
            '#009587',
            '#4CAF50',
            '#CDDC39',
            '#FFC107',
            '#FE6F00'
          ] }
        ]
      }
      this.poopsTypesOptions = this.commonOptions(true, false, 'poopsTypes-legend')

      this.poopsDateData = {
        datasets: [{
          // showLine: true, // show line in scatter plot
          label: poopsTypes[0].label,
          borderColor: '#333',
          borderWidth: 0,
          data: [poopsTypes[0].count, poopsTypes[1].count, poopsTypes[2].count, poopsTypes[3].count, poopsTypes[4].count, poopsTypes[5].count, poopsTypes[6].count],
          backgroundColor: [
            '#764EBE',
            '#3F51B4',
            '#009587',
            '#4CAF50',
            '#CDDC39',
            '#FFC107',
            '#FE6F00'
          ] }
        ]
      }
      this.poopsDateOptions = { responsive: true, maintainAspectRatio: false }
    },
    getPoopsColorsData () {
      let poopsColors = []
      for (let index = 0; index < 6; index++) {
        let length = this.poopsData.filter(
          function (poop) {
            return poop.color === index
          }
        ).length
        let poop = {
          count: length,
          label: this.$t(`poop.colors.${index}.Appearance`)
        }
        poopsColors.push(poop)
      }
      this.poopsColorsData = {
      // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [ poopsColors[0].label, poopsColors[1].label, poopsColors[2].label, poopsColors[3].label, poopsColors[4].label, poopsColors[5].label ],
        datasets: [{
          borderColor: '#333',
          borderWidth: 0,
          data: [ poopsColors[0].count, poopsColors[1].count, poopsColors[2].count, poopsColors[3].count, poopsColors[4].count, poopsColors[5].count ],
          backgroundColor: [
            '#973F01',
            '#739E51',
            '#FFCB00',
            '#460600',
            '#E3DDD8',
            '#E34329'
          ]
        }]
      }
      this.poopsColorsOptions = this.commonOptions(true, false, 'poopsColors-legend')
    },
    commonOptions (responsive, legend, legendIdContainer) {
      return {
        responsive: responsive,
        legend: legend,
        legendIdContainer: legendIdContainer,
        legendCallback: function (chart) {
          var legendHtml = []
          legendHtml.push('<ul>')
          var item = chart.data.datasets[0]
          for (var i = 0; i < item.data.length; i++) {
            legendHtml.push('<li>')
            legendHtml.push('<span class="chart-legend rounded" style="background-color:' + item.backgroundColor[i] + '"></span>')
            legendHtml.push('<span class="chart-legend-label-text">' + chart.data.labels[i] + ': ' + item.data[i] + '</span>')
            legendHtml.push('</li>')
          }

          legendHtml.push('</ul>')
          return legendHtml.join('')
        }
      }
    }
  }
}
</script>

<style>
.small {
  max-width: 300px;
}

.legend-con {
  font-family: Roboto;
  display: inline-block;
}
.legend-con ul {
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;

  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media screen and (max-width: 576px) {
  .legend-con ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
.legend-con li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.legend-con li span {
  display: inline-block;
}
.legend-con li span.chart-legend {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #333;
}
</style>
