<template>
  <div>
    <q-pull-to-refresh :handler="refresher">
      <div id="poopsDate" class="q-mt-md q-pl-sm q-pr-sm relative-left-center max-width-500">
        <q-btn v-if="firtsLoadingPoops" round color="grey-3" size="md"
               class="relative-left-center q-mb-sm q-mt-lg"
        >
          <q-spinner color="dark" size="30" class="" />
        </q-btn>
        <q-card v-if="!poops || !poops.length" :id="poopDemo.id" class="relative-left-center card-invetory bg-white q-mb-sm q-mt-none">
          <q-card-main>
            <q-item class="q-pa-none">
              <q-item-side :avatar="getAvatar(poopDemo.color)" class="light-bg" style="filter: grayscale(100%);" />
              <q-item-main>
                <q-item-tile class="float-right right-info ">
                  <q-icon v-if="poopDemo.totalTime" :color="colorDemo" name="timer" size="1.1em" style="display: inline-block; vertical-align: sub" />
                  <q-progress :percentage="0" :color="colorDemo" stripe animate class="rounded q-ml-xs" style="display: inline-block; height: 13px; width:3em" />
                  <q-btn :color="colorDemo" no-ripple flat icon="more_vert" class="float-right q-pa-xs" />
                </q-item-tile>
                <q-item-tile label class=" q-mb-sm">
                  <q-progress :percentage="0" :color="colorDemo" stripe animate class="rounded" style="height: 15px; width: 50%" />
                </q-item-tile>
                <q-item-tile sublabel>
                  <q-progress :percentage="0" :color="colorDemo" stripe animate class="rounded" style="height: 15px; width: 25%" />
                </q-item-tile>
                <q-item-tile class="float-right fav-right">
                  <q-btn :class="[ poopDemo.fav ? 'bg-red text-white' : `text-${colorDemo}`]" no-ripple round size=".8em" class="q-mr-xs" icon="favorite" />
                </q-item-tile>
              </q-item-main>
            </q-item>
          </q-card-main>
        </q-card>
        <div v-for="(poops, key) in poopsFavoritesGroup" v-else :key="key">
          <template v-if="poops.length > 0">
            <!-- <transition-group name="providers" tag="div" class="relative-left-center q-pa-md"> -->
            <q-card v-for="(poop, index) in poops" :id="`${key}-${index}`" :key="poop.id" class="relative-left-center card-invetory bg-white q-mb-sm q-mt-none">
              <q-card-main>
                <q-item class="q-pa-none">
                  <q-item-side :avatar="getAvatar(poop.color)" class="light-bg" />
                  <q-item-main>
                    <q-item-tile class="float-right right-info ">
                      <q-icon v-if="poop.totalTime" name="timer" size="1.1em" color="blue-9" style="vertical-align: sub" />
                      {{ poop.totalTime | secondsToTime }}
                      <q-btn flat icon="more_vert" class="float-right  q-pa-xs">
                        <q-popover>
                          <q-list link class="no-border">
                            <!-- <q-item @click.native="favPoop(poop)" v-close-overlay>
                          <q-chip dense v-bind:class="[poop.fav ? 'bg-red' :'']" class="chip-fav">
                            <q-icon v-bind:class="[poop.fav ? 'text-white' :'text-red']" name="favorite" />
                          </q-chip>
                          {{$t('favorite')}}
                        </q-item> -->
                            <q-item v-close-overlay @click.native="showItem(poop)">
                              <q-icon class="text-primary float-right q-mr-md" name="create" /> {{ $t('edit') }}
                            </q-item>
                            <q-item v-close-overlay @click.native="removeItem(poop)">
                              <q-icon class="text-negative float-right q-mr-md" name="remove_circle_outline" /> {{ $t('remove') }}
                            </q-item>
                          </q-list>
                        </q-popover>
                      </q-btn>
                    </q-item-tile>
                    <q-item-tile label class="q-mb-sm">
                      {{ $t(`poop.types.${poop.type}.Indicates`) }}
                    </q-item-tile>
                    <q-item-tile sublabel>
                      {{ poop.date | formatDateTime('lll') }}
                    </q-item-tile>
                    <q-item-tile class="float-right fav-right">
                      <q-btn :class="[poop.fav ? 'bg-red text-white' :'text-red']" round size=".8em" class="q-mr-xs" icon="favorite" @click="favPoop(poop)" />
                    </q-item-tile>
                  </q-item-main>
                </q-item>
              </q-card-main>
            </q-card>
          </template>
          <!--</transition-group> -->
        </div>
      </div>
    </q-pull-to-refresh>

    <modal ref="modal" :hide-close="$q.platform.is.desktop" />
    <!-- Non-expandable on a QLayout -->
    <q-btn round size="1.1em" class="bg-poop text-white addpoop" icon="add"
           @click="newItem"
    />
  </div>
</template>

<script>
import { QProgress, QPullToRefresh, QSpinner, QItemSide, QItemTile, QPopover } from 'quasar'
import { commonMixins, momentMixins } from '@mixins/index.js'
import { EventBus } from 'src/store/event-bus.js'
import { dateGroup } from 'src/store/poop/entity.js'
// import { Poops } from 'src/plugins/firebase.js'
import { mapGetters, mapActions } from 'vuex'
import NewItem from './new.vue'

export default {
  name: 'Inventory',
  components: { QProgress, QPullToRefresh, QSpinner, QItemSide, QItemTile, QPopover },
  mixins: [commonMixins, momentMixins],
  data () {
    return {
      firtsLoadingPoops: true,
      colorDemo: 'tertiary',
      poopsFavoritesGrouped: {},
      poopDemo: {
        id: 'poopDemo',
        type: 3,
        color: 0,
        date: new Date(),
        dateReal: new Date(),
        totalTime: Math.floor(Math.random() * 400) + 65,
        fav: false
      },
      colors: this.importAll(require.context('@statics/Colors/', false, /\.(png|jpe?g|svg)$/))
    }
  },
  computed: {
    ...mapGetters('poop', [ 'poops' ]),
    poopsFavoritesGroup () {
      if (!this.poops.length) return 0
      let _poops = this.getFavoritesPopps()
      this.$set(this.poopsFavoritesGrouped, 'fav', _poops)
      return this.poopsFavoritesGrouped
    }
  },
  created () {
    this.firstLoad().finally(() => {
      this.firtsLoadingPoops = false
    })
    EventBus.$on('removedPoop', this.removedPoop)
  },
  destroyed () {
    EventBus.$off('removedPoop')
  },
  methods: {
    ...mapActions('poop', [ 'setPoop', 'favPoop', 'removePoop', 'addPoop', 'firstLoad', 'loadPoops' ]),
    getFavoritesPopps (flag = true) {
      if (!this.poops.length) return 0
      let _poops = this.poops.filter(
        function (poop) {
          return poop.fav === flag
        }
      )
      if (!_poops.length) return 0
      return _poops.sort(
        (a, b) => Date.parse(b.date) - Date.parse(a.date)
      )
    },
    getDatePoop (poop) {
      let _dateGroup = dateGroup.previousmonths
      if (momentMixins.methods.isToday(poop.date)) _dateGroup = dateGroup.today
      else if (momentMixins.methods.isYesterday(poop.date)) _dateGroup = dateGroup.yesterday
      else if (momentMixins.methods.isWithinAWeek(poop.date)) _dateGroup = dateGroup.week
      else if (momentMixins.methods.isWithinAMonth(poop.date)) _dateGroup = dateGroup.month
      return _dateGroup
    },
    newItem () {
      this.showItem()
      // if (this.$q.platform.is.desktop) { this.showItem() } else { this.$router.push(`/${this.$i18n.locale()}/escatologic/new`) }
    },
    showItem (poop) {
      if (poop) this.setPoop(poop); else this.setPoop(null)
      this.$refs.modal.showModal(NewItem)
    },
    removeItem (poop) {
      if (poop) {
        this.removePoop(poop)
      }
    },
    removedPoop (poop) {
      this.$q.notify({
        message: this.$i18n.translate('poop.removed'),
        timeout: 5000, // in milliseconds; 0 means no timeout
        color: 'tertiary',
        textColor: 'white', // if default 'white' doesn't fits
        icon: 'check',
        position: 'bottom', // 'top', 'left', 'bottom-left' etc
        actions: [ {
          label: this.$i18n.translate('undo'),
          handler: () => { poop.id = ''; this.addPoop(poop) }
        } ]
      })
    },
    refresher (done) {
      var _t = this
      setTimeout(function () {
        _t.loadPoops().then(() => {
          done()
        })
      }, 500)
    },
    importAll (folder) {
      let images = {}
      folder.keys().map((item, index) => { images[item.replace('./', '')] = folder(item) })
      return Object.values(images)
    },
    randomDate (start, end, startHour, endHour) {
      var date = new Date(+start + Math.random() * (end - start))
      var hour = startHour + Math.random() * (endHour - startHour) | 0
      date.setHours(hour)
      return date
    },
    getAvatar (color) {
      return this.colors[color]
    }
  }
}
</script>

<style lang='stylus'>
</style>
