<template>
  <div class="layout-padding column no-wrap" style="overflow: auto;">
    <!-- Counting selected options -->
    <div class="col-auto row justify-center">
      <q-item class="q-pt-none q-mr-sm q-pb-none q-pl-none">
        <q-item-side class="text-center">
          <q-icon name="timer" size="3rem" color="blue-7" />
          <!--
          <q-icon v-if="!timer" @click.native="startTimer" v-bind:name="(resetButton) ? 'play_arrow': 'timer'" size="3rem" color="blue-7" class="cursor-pointer" />
          <q-icon v-else @click.native="stopTimer" name="stop" size="3rem" color="warning" class="cursor-pointer" />
          <q-icon v-if="resetButton" @click.native="resetTimer" name="restore" size="3rem" color="red-7" class="cursor-pointer" />
      -->
        </q-item-side>
      </q-item>
      <q-slide-transition>
        <q-card :key="minutes" class="timer q-pl-sm q-pr-sm animate-slideInDown">
          {{ minutes }}
        </q-card>
      </q-slide-transition>
      <div class="timer q-ml-sm q-mr-sm">
        <span>:</span>
      </div>
      <q-slide-transition>
        <q-card :key="minutes" class="timer q-pl-sm q-pr-sm animate-slideInDown">
          {{ seconds }}
        </q-card>
      </q-slide-transition>
    </div>

    <div class="col-auto row justify-center q-mt-md">
      <template v-if="edit">
        <q-btn v-if="!timer" push icon="play_arrow" color="positive" label="Iniciar" @click.native="startTimer" />
        <q-btn v-else push icon="stop" color="negative" label="Finalizar" @click.native="stopTimer" />
      </template>
    </div>

    <template v-if="timer && news.length">
      <!--<pre style="max-width: 500px;">{{news}}</pre>-->
      <div class="col-auto row q-pt-md">
        <q-carousel :autoplay="!$config('debug')" color="white" class="news-carousel" @input="(index) => {currentIndex(index)}">
          <q-carousel-slide v-for="(_new, index) in news" :key="index" class="q-pa-none">
            <q-card class="q-ma-xs">
              <q-card-media>
                <img :src="_new.urlToImage">
                <q-card-title slot="overlay" class="overlay-30 cursor-pointer" @click.native="openURL(_new.url)">
                  {{ _new.title }}
                  <span slot="subtitle">
                    {{ _new.source.name }} - {{ _new.publishedAt | formatDateTime }}
                  </span>
                </q-card-title>
              </q-card-media>
              <!-- <q-card-main v-if="_new.description" v-html="_new.description"> -->
              <q-card-main v-if="_new.description">
                {{ _new.description.trim() }}
              </q-card-main>
            </q-card>
          </q-carousel-slide>
          <q-carousel-control slot="control-nav" slot-scope="carousel" :offset="[18, 18]" position="top-right">
            <q-btn :disable="!carousel.canGoToPrevious" color="amber" text-color="black" icon="keyboard_arrow_left" round
                   dense class="q-mr-small" @click="carousel.previous"
            />
            <q-btn :disable="!carousel.canGoToNext" color="amber" text-color="black" icon="keyboard_arrow_right" round
                   dense @click="carousel.next"
            />
          </q-carousel-control>
        </q-carousel>
      </div>
    </template>
    <template v-else>
      <div class="col-auto q-ma-md">
        <div class="col-12 q-pt-xs row justify-center ">
          <q-item class="q-pl-none">
            <q-item-side icon="event" />
            <q-item-main>
              <q-datetime :value="poop.date" :first-day-of-week="1" format="DD/MM/YYYY" type="date" color="primary"
                          class="col-6 no-margin" @change="val => { poop.date = val }"
              />
            </q-item-main>
          </q-item>
          <q-item class="q-pl-none q-pr-none">
            <q-item-side icon="access_time" />
            <q-item-main>
              <q-datetime :value="time" :first-day-of-week="1" format="HH:mm:00" type="time" color="primary"
                          class="col-6 no-margin" @change="val => { time = val }"
              />
            </q-item-main>
          </q-item>
        </div>

        <div class="col-12 q-mt-md">
          <q-item class="q-pa-none">
            <q-item-side class="mini-img">
              <img v-if="typeof poop.type !== 'undefined'" :src="types[poop.type].image">
            </q-item-side>
            <q-item-main>
              <q-select v-model="poop.type" :options="types" :float-label="$t('type')" color="primary" />
            </q-item-main>
          </q-item>
        </div>

        <div class="col-12">
          <q-item class="q-pt-md q-pa-none">
            <q-item-side class="mini-img q-mr-md">
              <img v-if="typeof poop.color !== 'undefined'" :src="colors[poop.color].image">
            </q-item-side>
            <q-item-main class="q-ml-none">
              <q-select v-model="poop.color" :options="colors" :float-label="$t('color')" color="primary" />
            </q-item-main>
          </q-item>
        </div>

        <div class="col-12 q-pt-lg">
          <q-field :label-width="12" icon="chat" label="Comentarios">
            <q-input v-model="poop.comment" :max-height="50" full-width type="textarea" rows="1" />
          </q-field>
        </div>
      </div>

      <div class="col-auto q-py-lg text-center">
        <q-btn :label="$t('save')" icon="create" class="q-mr-md text-center" color="positive" @click="save" />
        <q-btn :label="$t('cancel')" icon="cancel" color="negative" @click="closeModal" />
      </div>
    </template>
  </div>
</template>

<script>
import { openURL, QCarousel, QCarouselSlide, QCarouselControl, QField, QInput, QDatetime, QSelect, QCardMedia, QSlideTransition } from 'quasar'
import { EventBus } from 'src/store/event-bus.js'
import { momentMixins } from '@mixins/index.js'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'NewItem',
  components: {
    QCarousel, QCarouselSlide, QCarouselControl, QField, QInput, QDatetime, QSelect, QCardMedia, QSlideTransition
  },
  mixins: [momentMixins],
  data () {
    return {
      types: [],
      colors: [],
      poop: this.getPoopEmpty,
      resetButton: false,
      timer: null,
      diffMinutes: 0,
      edit: true,
      news: [],
      pageNews: 0
    }
  },
  computed: {
    ...mapGetters('poop', [ 'getPoop', 'getPoopEmpty' ]),
    time: {
      // getter
      get: function () {
        return new Date(this.poop.date)
      },
      // setter
      set: function (time) {
        time = new Date(time)
        this.poop.date = new Date(this.poop.date).setHours(time.getHours(), time.getMinutes(), 0, 0)
      }
    },
    minutes () {
      const minutes = Math.floor(this.poop.totalTime / 60)
      return this.padTime(minutes)
    },
    seconds () {
      const seconds = this.poop.totalTime - (this.minutes * 60)
      return this.padTime(seconds)
    }
  },
  beforeMount () {
    let textures = this.importAll(require.context('@statics/Textures/', false, /\.(png|jpe?g|svg)$/))
    for (var i = 0; i < textures.length; i++) {
      this.types.push({ 'id': i,
        'label': this.$i18n.translate(`poop.types.${i}.Indicates`),
        'value': i,
        'image': textures[i]
      })
    }
    let _colors = this.importAll(require.context('@statics/Colors/', false, /\.(png|jpe?g|svg)$/))
    for (i = 0; i < _colors.length; i++) {
      this.colors.push({ 'id': i,
        'label': this.$i18n.translate(`poop.colors.${i}.Appearance`),
        'value': i,
        'image': _colors[i]
      })
    }
    this.load()
  },
  destroyed () {
    this.stopTimer()
  },
  methods: {
    ...mapActions('poop', [ 'setPoop', 'addPoop', 'updatePoop' ]),
    openURL,
    importAll (folder) {
      let images = {}
      folder.keys().map((item, index) => { images[item.replace('./', '')] = folder(item) })
      return Object.values(images)
    },
    showNotification (minutes) {
      try {
        navigator.vibrate(500)
        navigator.serviceWorker.getRegistration()
          .then(reg => {
            if (reg) {
              const title = ''
              const options = {
                body: `Llevas ${minutes} minutos en el excusado. !No te distraigas y termina la tarea!`,
                badge: '/statics/icons/poop-fav-invert.png',
                icon: '/statics/icons/android-chrome-192x192.png',
                tag: 'timmer-alert',
                renotify: true
                // requireInteraction: true // for desktop only
              }
              reg.showNotification(title, options)
            }
          })
          .catch(err => alert('Service Worker registration error: ' + err))
      } catch (err) {
        console.log(err)
        alert(`Llevas ${minutes} minutos en el excusado. !No te distraigas y termina la tarea!`)
      }

      /*
      try {
        let self = this
        navigator.serviceWorker.getRegistration()
          .then(reg => {
            if (reg) {
              const title = ''
              const options = {
                body: `Timmer ${self.minutes}:${self.seconds}`,
                badge: '/statics/icons/poop-fav-invert.png',
                icon: '/statics/icons/android-chrome-192x192.png',
                tag: 'timmer',
                renotify: true,
                // requireInteraction: true, // for desktop only
                silent: true
              }
              reg.showNotification(title, options)
            }
          })
          .catch(err => alert('Service Worker registration error: ' + err))
      } catch (err) {
        alert('Notification API error: ' + err)
      } */
    },
    closeModal () {
      this.stopTimer()
      this.setPoop(null)
      EventBus.$emit('closeModal', true)
    },
    save () {
      this.stopTimer()
      if (this.poop) {
        if (this.poop.id) { this.updatePoop(this.poop) } else this.addPoop(this.poop)
      }
      this.closeModal()
    },
    load () {
      this.poop = this.getPoop
      if (this.poop.id) {
        this.edit = false
      } else {
        this.poop.totalTime = 0
        this.loadNews()
      }
    },
    startTimer () {
      try {
        navigator.vibrate(200)
      } catch (err) {
        console.log(err)
      }
      this.timer = setInterval(() => this.countUp(), 1000) // 1000ms = 1 second
      this.resetButton = true
    },
    stopTimer () {
      clearInterval(this.timer)
      // navigator.vibrate(200)
      this.timer = null
      this.resetButton = true
    },
    resetTimer () {
      this.poop.totalTime = 0
      clearInterval(this.timer)
      this.timer = null
      this.resetButton = false
    },
    padTime (time) { return (time < 10 ? '0' : '') + time },
    countUp () {
      this.poop.totalTime++
      let min = Math.floor(this.poop.totalTime / 60)
      if (min > 1 && this.diffMinutes !== min) {
        this.showNotification(min)
      }
      this.diffMinutes = min
    },
    loadNews () {
      var _this = this
      _this.pageNews++
      var url = 'https://newsapi.org/v2/top-headlines?language=es&pageSize=20&page=' + this.pageNews + '&' +
          'apiKey=9ed8469fe0404c898ecc5696a0f35c14'
      this.$http.get(url).then((response) => {
        // if (_this.news.length) { _this.news.concat(response.data.articles) } else { _this.news = response.data.articles }
        _this.news = _this.news.concat(response.data.articles)
      })
    },
    currentIndex (index) {
      if (this.news.length > 1 && index > this.news.length / 2) {
        this.loadNews()
      }
    }
  }
}
</script>

<style lang="stylus">
.q-list .q-item, .q-list .q-item .q-item-image, .mini-img.q-item-side, .mini-img.q-item-side img
  height: 20px
  width: auto
  min-width: 10px

.timer
  font-size: 3rem
  color: #555
  flex: unset

.controls
  display: flex
  justify-content: space-evenly
  width: 100%

  > *
    color: $primary-color
    transition: 0.1s ease

    &:hover
      cursor: pointer
      transform: scale(1.2)

.input
  input
    background-color: #2584de
    border: none
    font-size: 2rem
    padding: 1em
    text-align: center
    color: #555

.news-carousel
  max-width: 600px
  cursor: grab
  // max-height 495px
  // overflow-y auto

.news-carousel .q-carousel-track
  align-items: flex-start /* NEW */

.news-carousel .q-carousel-slide
  max-height: calc(55vh)
  height: auto

@media screen and (max-width: 768px)
  .news-carousel
    max-width: 95.5vw

  .news-carousel .q-carousel-slide
    max-height: calc(85vh)
    height: auto

/*
@media screen and (max-width: 576px)
.news-carousel .q-carousel-slide
max-height calc(85vh)
height auto */
</style>
