<template>
  <q-page class=" relative-left-center max-width-600">
    <div>
      <q-card-media v-if="false" overlay-position="full" class="faq bg-tertiary">
        <img src="statics/faq.png">
        <q-card-title slot="overlay" class="faq-title text-center relative-left-center">
          <p class="q-display-2 text-weight-medium q-mb-md relative-left-center">
            {{ $t('faq.canHelp') }}
          </p>
          <div class="row justify-center relative-left-center">
            <q-search :placeholder="`(${$t('construction')}) ${$t('faq.search')}`" value="" inverted clearable class="col-md-8 q-pa-md" />
          </div>
        </q-card-title>
      </q-card-media>
    </div>

    <div class="q-ma-md row justify-center">
      <q-card class="q-ma-sm card text-center col-12">
        <q-collapsible id="typeOf" class="bg-white" @show="$scrollTo('typeOf', 310)">
          <template slot="header">
            <q-card-main class="text-center q-title text-grey-10">
              {{ $t('poop.typeOf') }}
            </q-card-main>
          </template>
          <div>
            <q-item v-for="(poopType, index) in types" :key="index" multiline separator class="row">
              <q-item-side :image="poopType.image" class="img-auto text-center q-mr-md col-sm-auto col-xs-12" />
              <q-item-main class="col-sm col-xs-12">
                <q-item-tile label>
                  {{ $t(`poop.types.${index}.Indicates`) }}
                </q-item-tile>
                <q-item-tile sublabel lines="3">
                  {{ $t(`poop.types.${index}.Appearance`) }}
                </q-item-tile>
              </q-item-main>
            </q-item>
          </div>
        </q-collapsible>
      </q-card>
      <q-card class="q-ma-sm card text-center col-12">
        <q-collapsible id="colorOf" class="bg-white" @show="$scrollTo('colorOf', 310)">
          <template slot="header">
            <q-card-main class="text-center q-title text-grey-10">
              {{ $t('poop.colorOf') }}
            </q-card-main>
          </template>
          <div>
            <q-item v-for="(poopColors, index) in colors" :key="index" multiline separator class="row">
              <q-item-side :image="poopColors.image" class="img-auto text-center q-mr-md col-sm-auto col-xs-12" />
              <q-item-main class="col-sm col-xs-12">
                <q-item-tile label>
                  {{ $t(`poop.colors.${index}.Appearance`) }}
                </q-item-tile>
                <q-item-tile sublabel lines="3">
                  {{ $t(`poop.colors.${index}.Indicates`) }}
                </q-item-tile>
              </q-item-main>
            </q-item>
          </div>
        </q-collapsible>
      </q-card>

      <!--
        <q-list class="col-md-8 q-pa-md" separator>
        <q-collapsible>
          <template slot="header">
            <q-item-main color="primary" class="q-mr-sm q-display-1">{{$t('names.poop')}}</q-item-main>
          </template>
          <div>
            tipos de caca ...
          </div>
        </q-collapsible>
        <q-collapsible>
          <template slot="header">
            <q-item-main color="primary" class="q-mr-sm q-display-1">{{$t('color')}}</q-item-main>
          </template>
          <div>
            tipos de colores ...
          </div>
        </q-collapsible>
      </q-list>
      -->
    </div>
  </q-page>
</template>

<script>
import { QSearch, QCollapsible, QItem, QItemSide, QItemTile, QItemMain, QCard, QCardTitle, QCardMain, QCardMedia } from 'quasar'

export default {
  name: 'Faq',
  components: {
    QSearch, QCollapsible, QItem, QItemSide, QItemTile, QItemMain, QCard, QCardTitle, QCardMain, QCardMedia
  },
  data () {
    return {
      types: [],
      colors: []
    }
  },
  beforeMount () {
    let textures = this.importAll(require.context('@statics/Textures/', false, /\.(png|jpe?g|svg)$/))
    for (var i = 0; i < textures.length; i++) {
      this.types.push({ 'id': i,
        'image': textures[i]
      })
    }
    let _colors = this.importAll(require.context('@statics/Colors/', false, /\.(png|jpe?g|svg)$/))
    for (i = 0; i < _colors.length; i++) {
      this.colors.push({ 'id': i,
        'image': _colors[i]
      })
    }
  },
  methods: {
    importAll (folder) {
      let images = {}
      folder.keys().map((item, index) => { images[item.replace('./', '')] = folder(item) })
      return Object.values(images)
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'

.faq, .faq img
  height: 50vh

.faq img
  object-fit: cover
  object-position: 90% 50%

.faq .q-card-media-overlay
  background: rgba(0, 0, 0, 0.57) !important

.faq-title
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.card .q-item-side-right
  position: absolute
  right: 10px

.img-auto img
  min-width: 70px
  width: auto
  height: auto
</style>
