<template>
  <q-page class="flex flex-center">
    <img alt="Escatologic App" src="~assets/Poop Fav Vector.svg" style="width:50vw;">
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>

<style>
img {
  max-width: 400px;
  width: auto;
  height: auto;
}
</style>
