<template>
  <!--<q-layout view="lHh Lpr lFf">-->
  <q-layout view="hHh LpR lfr" class="bg-grey-2">
    <q-layout-header>
      <q-toolbar :inverted="$q.theme === 'ios'" color="primary" class="q-py-none">
        <q-btn id="btn-menu-left" flat dense round aria-label="Menu" @click="leftDrawerOpen = !leftDrawerOpen">
          <q-icon name="menu" />
        </q-btn>
        <!-- <q-toolbar-title>
          {{$config('AppName')}}
          <div slot="subtitle">v{{$config('version')}}</div>
        </q-toolbar-title> -->
        <q-tabs id="tabs-master" v-model="selectedTab" align="center" position="bottom" class="col-12">
          <!-- Tabs - notice slot="title" -->
          <!-- <q-tab @click="tabMenu" @select="selectedTab = previusSelectedTab " slot="title" name="tab-menu" icon="menu" class="tab-menu-left" /> -->
          <q-route-tab v-for="item in menu" slot="title" :key="item.title" :label="$t(`menu.${item.labelMenu}`)"
                       :to="`/${$i18n.locale()}/${item.path}`" :icon="item.icon" replace keep-alive
          />
        </q-tabs>
        <!-- <q-btn class="q-pr-none q-py-none" color="blue">
          <q-item class="q-py-none q-pl-none q-pr-xs">
            <q-item-main sublabel>{{ $i18n.locale() }}</q-item-main>
            <q-item-side style="min-width:22px;">
              <img :src="`statics/i18n/${$i18n.locale()}.svg`" class="vertical-middle" style="width:22px;">
            </q-item-side>
          </q-item>
          <q-item-side icon="keyboard_arrow_down" color="black" style="min-width:30px;" />
          <q-popover ref="popover">
            <q-list link>
              <q-item v-for="lang in Object.keys($store.state.i18n.translations)" v-bind:key="lang" v-if="lang.toUpperCase() != $i18n.locale().toUpperCase()" @click.native="changeI18n(lang, $router)" v-close-overlay>
                <q-item-main label>{{ lang.toUpperCase() }}</q-item-main>
                <q-item-side>
                  <img :src="`statics/i18n/${lang}.svg`" class="vertical-middle" style="width:22px;">
                </q-item-side>
              </q-item>
            </q-list>
          </q-popover>
        </q-btn> -->
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null" overlay>
      <master-nav-left />
    </q-layout-drawer>

    <q-page-container id="view">
      <router-view class="animate-fade" />
    </q-page-container>

    <!--
    <q-layout-footer>
      <q-toolbar color="primary" :inverted="$q.theme === 'ios'">
        <master-footer/>
      </q-toolbar>
    </q-layout-footer>
    -->
  </q-layout>
</template>

<script>
import { openURL, QTabs, QRouteTab } from 'quasar'
import MasterNavLeft from './MasterNavLeft.vue'
// import MasterFooter from './MasterFooter.vue'
// import MasterTabs from './MasterTabs.vue'
import { commonMixins } from '@mixins/index.js'

const EVENTS = ['online', 'offline', 'load']
window.onbeforeunload = function () {
  console.log('Are you sure you want to close the window?')
}

export default {
  name: 'Master',
  components: {
    MasterNavLeft, QTabs, QRouteTab
  },
  mixins: [commonMixins],
  data () {
    return {
      onLine: navigator.onLines,
      leftDrawerOpen: this.$q.platform.is.desktop,
      selectedTab: '',
      previusSelectedTab: ''
    }
  },
  meta () {
    return {
      meta: {
        description: { name: 'description', content: this.$t('metaDescription') }
      } }
  },
  created () {
    this.$q.addressbarColor.set('#0C72C0')
    EVENTS.forEach(event => window.addEventListener(event, this.updateOnlineStatus))
  },
  mounted () {
    // listen to the service worker promise in index.html to see if there has been a new update.
    // condition: the service-worker.js needs to have some kind of change - e.g. increment CACHE_VERSION.
    window.addEventListener('isUpdateAvailable', (e) => {
      this.$q.notify({
        message: this.$i18n.translate('updateAvailable' + (!this.$q.platform.is.desktop ? 'Mobile' : '')),
        timeout: 5000, // in milliseconds; 0 means no timeout
        type: 'positive',
        // textColor: 'black', // if default 'white' doesn't fits
        icon: 'system_update',
        position: 'top'
      })
    })
    try {
      Notification.requestPermission((result) => {
        console.log('Notification', result)
      })

      if ('Notification' in window) {
        window.addEventListener('pushNotification', (e) => {
          if (event.data) {
            console.log('This push event has data: ', event.data.text())
          } else {
            console.log('This push event has no data.')
          }
        })
        window.addEventListener('notificationclick', (event) => {
        /* const clickedNotification = event.notification
        clickedNotification.close()

        // Do something as the result of the notification click
        const promiseChain = doSomething()
        event.waitUntil(promiseChain) */
        })
      }
    } catch (err) {
      console.log(err)
    }
  },
  methods: {
    openURL,
    tabMenu () {
      this.previusSelectedTab = this.selectedTab
      this.leftDrawerOpen = !this.leftDrawerOpen
    },
    updateOnlineStatus () {
      setTimeout(() => {
        this.isOnline = (typeof window.navigator.onLine === 'undefined') ? true : navigator.onLine
        this.$store.dispatch('updateOnlineStatus', this.isOnline)
        if (!this.isOnline) {
          this.$q.notify({
            message: this.$i18n.translate('config.offline'),
            timeout: 7000, // in milliseconds; 0 means no timeout
            type: 'negative',
            icon: 'cloud_off',
            position: 'top',
            actions: [
              {
                label: 'Ok',
                handler: () => {
                }
              }
            ]
          })
        }
      }, 3000)
    }
  }
}
</script>

<style>
#btn-menu-left {
  margin-right: 12px;
}
#btn-menu-left > div {
  height: 34px;
  width: 34px;
}
#tabs-master .q-tabs-scroller,
#btn-menu-left {
  z-index: 2000;
}
#tabs-master .q-tabs-left-scroll,
#tabs-master .q-tabs-right-scroll {
  z-index: 2111;
}
.q-layout-header {
  z-index: 2222;
}
.tab-menu-left {
  width: 77px !important;
  flex: unset;
}
@media screen and (min-width: 992px) {
  #tabs-master {
    position: relative;
    left: -34px;
  }
}
@media screen and (max-width: 992px) {
  #tabs-master {
    padding-right: 34px;
  }
}
</style>
