<template>
  <q-list no-border separator class="non-selectable master-list">
    <q-item v-if="user" sparse>
      <q-item-side v-if="user.photoURL" :avatar="user.photoURL" />
      <q-item-side v-else class="text-center">
        <q-icon size="38px" name="account_circle" />
      </q-item-side>
      <q-item-main>
        <q-item-tile label>
          {{ user.displayName }}
        </q-item-tile>
        <q-item-tile sublabel>
          {{ user.email }}
        </q-item-tile>
      </q-item-main>
    </q-item>
    <!-- <q-item v-for="item in menu" v-bind:key="item.title" v-if="item.isVisible" :to="`/${$i18n.locale()}/${item.path}`" replace link exact>
      <q-item-side v-if="item.icon" :icon="item.icon" />
      <q-item-main>
        <q-item-tile label>{{item.title}}</q-item-tile>
      </q-item-main>
    </q-item> -->
    <q-item @click.native="isVisibleMenuI18n = !isVisibleMenuI18n">
      <q-item-side>
        <q-item-tile avatar>
          <img :src="`statics/i18n/${$i18n.locale()}.svg`" style="width:24px">
        </q-item-tile>
      </q-item-side>
      <q-item-main>
        <q-item-tile label>
          {{ $t('lang.'+$i18n.locale()) }}
        </q-item-tile>
      </q-item-main>
      <q-item-side right>
        <q-btn flat round dense icon="more_vert" @click.native.stop>
          <q-popover ref="popover" v-model="isVisibleMenuI18n">
            <q-list link>
              <q-item v-for="lang in languages" :key="lang" v-close-overlay @click.native="changeI18n(lang, $router)">
                <q-item-main label>
                  {{ lang.toUpperCase() }}
                </q-item-main>
                <q-item-side>
                  <img :src="`statics/i18n/${lang}.svg`" class="vertical-middle" style="width:22px;">
                </q-item-side>
              </q-item>
            </q-list>
          </q-popover>
        </q-btn>
      </q-item-side>
    </q-item>

    <q-item />

    <q-item :class="[$q.platform.is.mobile ? '' : '']" link @click.native="logOut">
      <q-item-side icon="exit_to_app" color="negative" />
      <q-item-main>
        <q-item-tile label>
          LogOut
        </q-item-tile>
      </q-item-main>
    </q-item>
    <q-item :class="[!$q.platform.is.mobile ? '' : '']" sparse>
      <q-item-tile image>
        <img alt="Escatologic App" src="~assets/Poop Fav Vector.svg" style="width:30px;">
      </q-item-tile>
      <q-item-main class="text-center">
        <q-item-tile label>
          {{ $config('AppName') }}
        </q-item-tile>
        <q-item-tile sublabel>
          {{ $config('version') }} by Kelux <br>
        </q-item-tile>
      </q-item-main>
    </q-item>
    <q-item :class="[!$q.platform.is.mobile ? '' : '']" sparse>
      <q-item-main class="text-center q-ml-lg">
        Contact: <br>
        <a href="mailto:keludev@gmail.com">
          keludev@gmail.com
        </a>
      </q-item-main>
    </q-item>
  </q-list>
</template>

<script>
import { firebase } from 'src/plugins/firebase'
import { QPopover, QItemTile } from 'quasar'

import { commonMixins } from '@mixins/index.js'
// ['displayName', 'email', 'photoURL']
export default {
  name: 'MasterNav',
  components: {
    QPopover, QItemTile
  },
  mixins: [commonMixins],
  data: () => ({
    user: null,
    isVisibleMenuI18n: false
  }),
  computed: {
    languages () {
      return Object.keys(this.$store.state.i18n.translations).filter(lang => lang.toUpperCase() !== this.$i18n.locale().toUpperCase())
    }
  },
  mounted () {
    if (this.$store.getters[`user/isProfileLoaded`]) {
      this.user = this.$store.getters[`user/getProfile`]
    }
  },
  methods: {
    logOut () {
      /* let self = this
      this.$q.dialog({
        title: 'Salir',
        message: '¿Estas seguro que desea salir?',
        ok: 'Aceptar',
        cancel: 'Cancelar'
      }).then(() => {
        firebase.auth().signOut()
        self.$storage.removeItem('tok')
        self.$router.replace({ name: 'login' })
        self.$store.dispatch('user/USER_LOGOUT')
        setTimeout(function () {
          self.$store.dispatch('poop/removeAllPoop')
        }, 1000)
        self.$q.loading.show({
          // message: 'Some message',
          messageColor: 'withe',
          spinnerSize: 80, // in pixels
          spinnerColor: 'primary',
          customClass: 'bg-grey-4'
        })
      }).catch(() => {
      }) */

      firebase.auth().signOut()
      this.$storage.removeItem('tok')
      this.$router.replace({ name: 'login' })
      this.$store.dispatch('user/USER_LOGOUT')
      setTimeout(() => {
        this.$store.dispatch('poop/removeAllPoop')
      }, 1000)
      this.$q.loading.show({
        // message: 'Some message',
        messageColor: 'withe',
        spinnerSize: 80, // in pixels
        spinnerColor: 'primary',
        customClass: 'bg-grey-4'
      })
    }
  }
}
</script>

<style>
.master-list {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.master-list .to-bottom {
  margin-top: auto;
}
</style>
