<template>
  <q-tabs id="tabs-master" align="center">
    <!-- Tabs - notice slot="title" -->
    <q-route-tab v-for="item in menu" slot="title" :key="item.title" :label="item.title"
                 :to="`/${$i18n.locale()}/${item.path}`" :icon="item.icon" exact
    />
  </q-tabs>
</template>

<script>
import { QTabs, QRouteTab } from 'quasar'

import { commonMixins } from '@mixins/index.js'
// ['displayName', 'email', 'photoURL']
export default {
  name: 'MasterTabs',
  components: {
    QTabs, QRouteTab
  },
  mixins: [commonMixins],
  data: () => ({

  }),
  methods: {
    toggleChildren (item) {
      item.isOpen = !item.isOpen
    }
  }
}
</script>

<style >
#tabs-master .q-tabs-scroller {
  z-index: 2000;
}
#tabs-master .q-tabs-left-scroll,
#tabs-master .q-tabs-right-scroll {
  z-index: 2111;
}
</style>
