<template>
  <q-modal v-model="show" :content-css="{minWidth: '30vw', minHeight: '10vh'}" :content-classes="[true ? 'column justify-center modal-auto' :'modal-auto']" no-backdrop-dismiss name="Modal" @hide="closeModal(true)">
    <q-btn v-if="hideClose" color="negative" icon="close" size="md" class="close-modal" @click="closeModal(true)" />
    <div slot="header">
      <q-toolbar v-if="header">
        <q-btn icon="reply" color="white" flat round dense @click="closeModal(true)" />
        <q-toolbar-title>
          {{ header }} column justify-center
        </q-toolbar-title>
      </q-toolbar>
    </div>

    <component :is="modalComponent" ref="component" name="content" />

    <q-toolbar v-if="footer" slot="footer">
      <q-toolbar-title>
        {{ footer }}
      </q-toolbar-title>
    </q-toolbar>
  </q-modal>
</template>
<script>
import { EventBus } from 'src/store/event-bus.js'
import { QModal, QModalLayout, QToolbar, QToolbarTitle, QPageSticky } from 'quasar'

export default {
  name: 'Modal',
  components: {
    QModal, QModalLayout, QToolbar, QToolbarTitle, QPageSticky
  },
  props: {
    hideClose: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      show: false,
      header: null,
      modalComponent: null,
      footer: null
    }
  },
  created () {
    EventBus.$on('closeModal', (destroy) => this.closeModal(destroy))
  },
  methods: {
    showModal (component, header, footer) {
      this.modalComponent = component
      this.header = header
      this.footer = footer
      this.show = true
      this.$router.push({ hash: '#' })
    },
    closeModal (destroy) {
      if (this.modalComponent != null) {
        if (destroy) {
          this.modalComponent = null
          this.header = null
          this.footer = null
        }
        // this.$router.replace({ hash: '' })
        if (this.$router.history.current.hash === '#') { this.$router.go(-1) }
      }
      this.show = false
    }
  }
}
</script>

<style >
</style>
