// app global css
@import '~variables'

.text-poop
  color #8d4304

.bg-poop
  background-color #8d4304

.inv
  height 0 !important

.flex-center
  display flex
  align-items center
  justify-content center

.relative-center
  position relative
  left 50%
  top 50%
  transform translate(-50%, -50%)

.relative-left-center
  position relative
  left 50%
  transform translate(-50%)

.close-modal
  position absolute
  right 0
  top -1px
  z-index 4000

.rounded
  border-radius .25rem !important

.rounded-50
  border-radius .5rem !important

.rounded-circle
  border-radius 50% !important

.overlay-30
  background rgba(0, 0, 0, .3) !important

.overlay-57
  background rgba(0, 0, 0, .57) !important

.width-700
  width 700px

.max-width-600
  max-width 600px

.max-width-500
  max-width 500px

.max-width-300
  max-width 300px

.max-width-250
  max-width 250px

.max-height-600
  max-height 600px

.max-height-500
  max-height 500px

.max-height-300
  max-height 300px

.max-height-250
  max-height 250px

.q-item-side.light-bg .q-item-avatar
  background-color $light

#poopsDate
  height auto
  width auto

.addpoop
  position fixed
  left 50% /* Positions 50% from right (right edge will be at center) */
  margin-left 165px /* Positions 200px to the left of center */
  // margin-left 88% !important
  bottom 25px
  // margin-bottom 10px
  z-index 2050

.right-info
  margin-right -10px

.right-info button
  margin-top -7px
  margin-left 5px

.fav-right
  margin-top -14px
  margin-bottom -5px

.chip-fav
  margin-left -3px
  margin-right 11px
  margin-top 1px

.chip-fav i
  top 2px
  position relative
  vertical-align initial !important

@media screen and (max-width: 576px)
  #poopsDate
    min-width 300px

  .addpoop
    margin-left 28%

.pull-to-refresh
  max-height 100%
  height 100%
