<template>
  <q-layout class="layout-padding bg-blue-1">
    <div class=" row justify-center">
      <q-card class="login bg-grey-1 rounded-50">
        <q-card-main class="q-pb-">
          <div class="text-center q-mt-lg">
            <!-- <div class="q-display-1 col-12 text-center text-bold text-dark">Login to</div> -->
            <h1 class="q-display-1 text-center text-bold text-dark">
              My Poop App
            </h1>
            <h1 class="q-title text-center text-bold text-dark">
              {{ $t('metaDescription') }}
            </h1>
            <img class="q-my-md" alt="Poop App" src="~assets/Poop Fav Vector.svg" style="width:90px">
            <div class="q-mt-md q-mb-sm q-body-2 text-center text-bold text-dark">
              {{ $t('login_sing') }}
            </div>
          </div>

          <div id="firebaseui-container" />

          <div class="text-center q-mt-md q-mb-lg">
            <!-- <div class="q-display-1 col-12 text-center text-bold text-dark">Login to</div> -->
            <h4 class="q-body-1 col-12 text-center text-bold text-dark">
              <a href="mailto:keludev@gmail.com">
                by Kelux
              </a>
            </h4>
          </div>
        </q-card-main>
      </q-card>
    </div>
  </q-layout>
</template>

<script>
import { ui, uiConfig } from 'src/plugins/firebase'
// import firebase from 'firebase'

export default {
  name: 'Login',
  data () {
    return {
      // ui: null
    }
  },
  meta () {
    return {
      meta: {
        description: { name: 'description', content: this.$t('metaDescription') }
      } }
  },
  mounted () {
    ui().start('#firebaseui-container', uiConfig)
  },
  destroyed () {
    // ui.reset()
  },
  methods: {
    login: function () {
      /* const { email, password } = this
      this.$store.dispatch('auth/AUTH_REQUEST', { email, password }).then(() => {
        this.$router.push({ name: 'inventory' })
      }) */
    }
  }
}
</script>

<style>
.login {
  width: auto;
  min-width: 350px;
  max-width: 450px;
}
</style>
