<template>
  <div id="q-app">
    <router-view v-if="load" />
  </div>
</template>

<script>
import { firebase, config } from 'src/plugins/firebase.js'
const EVENTS = ['online', 'offline', 'load']
window.onbeforeunload = function () {
  console.log('Are you sure you want to close the window?')
}

export default {
  name: 'App',
  data: () => ({
    load: false,
    onLine: navigator.onLines
  }),
  meta () {
    return {
      meta: {
        description: { name: 'description', content: this.$t('metaDescription') }
      } }
  },
  beforeCreate () {
    this.$q.loading.show({
      // message: 'Some message',
      messageColor: 'withe',
      spinnerSize: 80, // in pixels
      spinnerColor: 'primary',
      customClass: 'bg-grey-4'
    })
  },
  created () {
    console.log('App Created')
    // customizable (all props available)
    // alert('App created')
    if (firebase.apps.length === 0) firebase.initializeApp(config)
    firebase.auth().onAuthStateChanged(
      (user) => {
        // console.log('onAuthStateChanged', this.$route)
        if (this.$route.query && this.$route.query.user === 'AdSense') {
          this.$storage.setItem('tok', '47JCaPC428RKzaB7g9sAiP6rZ0t1')
          this.$router.replace({ name: 'inventory', query: { user: 'AdSense' } })
          this.$q.loading.hide()
        } else {
          if (user) {
            this.$storage.setItem('tok', user.uid)
            this.$store.dispatch('user/USER_LOGIN', user)
            this.$router.replace({ name: 'inventory' })
            this.$q.loading.hide()
          } else {
            this.$storage.removeItem('tok')
            if ((this.$router.history.pending && this.$router.history.pending.name !== 'login') ||
             (!this.$router.history.pending && this.$router.history.current.name !== 'login')) {
              this.$router.replace({ name: 'login' })
            }
            this.$store.dispatch('user/USER_LOGOUT')
            setTimeout(() => {
              this.$store.dispatch('poop/removeAllPoop')
            }, 1000)
          }
        }
        this.loaded()
      },
      (error) => {
        this.loaded()
        console.log(error)
      }
    )
  },
  beforeDestroy () {
    EVENTS.forEach(event => window.removeEventListener(event, this.updateOnlineStatus))
  },
  methods: {
    loaded () {
      this.load = true
    }
  }
}
</script>

<style>
</style>
